<html
  lang="en"
  layout:decorate="~{admin-layout}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
>
  <!--page content-->
  <div layout:fragment="content">
    <div class="flex flex-col space-y-3">
      <div class="table-container">
        <h1>Pending for Verification</h1>
        <table>
          <thead>
            <tr>
              <th>User ID</th>
              <th>Email</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="customer : ${pending_customers}">
              <td th:text="${customer.id}"></td>
              <td th:text="${customer.email}"></td>
              <td
                th:text="${customer.firstName + ' ' + customer.lastName}"
              ></td>
              <td>
                <a
                  th:href="@{/admin/dashboard/customers/enable/{id}(id=${customer.id})}"
                  >Accept</a
                >
              </td>
            </tr>
            <tr class="no-records" th:if="${#lists.isEmpty(pending_customers)}">
              <td colspan="4"><p>No New Applications</p></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-container">
        <h1>Active Customers</h1>
        <table>
          <thead>
            <tr>
              <th>User ID</th>
              <th>Email</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="customer : ${active_customers}">
              <td th:text="${customer.id}"></td>
              <td th:text="${customer.email}"></td>
              <td
                th:text="${customer.firstName + ' ' + customer.lastName}"
              ></td>
              <td>
                <a
                  class="bg-red-400/40 hover:bg-red-500/50"
                  th:href="@{/admin/dashboard/customers/lock/{id}(id=${customer.id})}"
                  >Disable</a
                >
              </td>
            </tr>
            <tr class="no-records" th:if="${#lists.isEmpty(active_customers)}">
              <td colspan="4"><p>No active customers</p></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-container">
        <h1>Disabled Customers</h1>
        <table>
          <thead>
            <tr>
              <th>User ID</th>
              <th>Email</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="customer : ${inactive_customers}">
              <td th:text="${customer.id}"></td>
              <td th:text="${customer.email}"></td>
              <td
                th:text="${customer.firstName + ' ' + customer.lastName}"
              ></td>
              <td>
                <a
                  th:href="@{/admin/dashboard/customers/unlock/{id}(id=${customer.id})}"
                  >Enable</a
                >
              </td>
            </tr>
            <tr
              class="no-records"
              th:if="${#lists.isEmpty(inactive_customers)}"
            >
              <td colspan="4"><p>No inactive customers</p></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</html>
