
<!--admin/customer-orders.html-->
<html
  lang="en"
  layout:decorate="~{admin-layout}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
>
  <!--All orders will be displayed on this page-->
  <div layout:fragment="content">
    <div class="flex flex-col space-y-3">

      <div class="flex w-full space-x-4">
        <label class="space-y-2 w-full">
          <p class="px-3 text-cyan-700">Customer</p>
          <input class="text-input w-full" id="customerInput" type="text" list="customersList" required>
          <datalist id="customersList">
            <option value="">Select a Customer</option>
            <option th:each="customer : ${customers}" th:value="${customer.customer.id}" th:text="${customer.firstName + ' ' + customer.lastName + ' (' + customer.customer.id + ')'}"
                    th:attr="data-url=@{/admin/dashboard/orders/{id}(id=${customer.id})}"></option>
          </datalist>
        </label>
        <label class="space-y-2 w-full">
          <p class="px-3 text-cyan-700">From</p>
          <input
              id="from"
              class="text-input"
              placeholder="date"
              type="date"
              th:attr="max=${{#dates.format(#dates.createNow(), 'yyyy-MM-dd')}}"
              onchange="updateToDateMin(this.value)"
              th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
          />
        </label>
        <label class="space-y-2 w-full">
          <p class="px-3 text-cyan-700">To</p>
          <input
              id="to"
              class="text-input"
              placeholder="date"
              type="date"
              th:attr="max=${{#dates.format(#dates.createNow(), 'yyyy-MM-dd')}}"
              onchange="updateFromDateMax(this.value)"
              th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
          />
        </label>
      </div>

      <div class="table-container w-full">
        <table id="table">
          <thead>
          <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Pickup Address</th>
            <th>Destination Address</th>
            <th>Customer</th>
            <th>Driver</th>
            <th>Total Amount</th>
          </tr>
          </thead>
          <tbody>
            <tr class="border-b border-slate-200" th:each="order : ${orders}">
              <td class="w-1/12" th:text="${order.id}"></td>
              <td class="w-[130px]" th:text="${#temporals.format(order.time, 'dd-MM-yyyy') + ' ' + #temporals.format(order.time, 'HH:mm')}"></td>
              <td class="w-1/5" th:text="${order.pickupAddress}"></td>

              <td class="w-1/5" th:text="${order.destinationAddress}"></td>
              <td th:text="${order.customer.user.firstName + ' ' + order.customer.user.lastName}"></td>
              <td th:text="${order.driver.user.firstName + ' ' + order.driver.user.lastName}"></td>

              <td class="hidden" th:text="${#temporals.format(order.time, 'dd-MM-yyyy')}"></td>
              <td class="hidden" th:text="${order.driver.id}"></td>
              <td class="hidden" th:text="${order.customer.id}"></td>

              <td th:text="${order.totalCost}"></td>
            </tr>
          </tbody>
        </table>
        <div class="block pb-3 max-w-7xl" style="display: none" id="no-orders">
          <p class="w-full">No orders found</p>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="JavaScript">

      function onLoad() {
        let totalCost = 0;
        let totalOrders = 0;


        const tableRows = document.querySelectorAll("tbody tr");
        for (let i = 0; i < tableRows.length; i++) {
          tableRows[i].style.display = "";
          totalCost += parseFloat(tableRows[i].querySelector("td:nth-child(10)").textContent)
          totalOrders += 1;

        }

        if (totalOrders !== 0) document.getElementById("no-orders").style.display = "none"
        if (totalOrders === 0) document.getElementById("table").style.display = "block"
      }

      onLoad()

      function updateToDateMin(fromDate) {
        const toDateInput = document.getElementById("to");
        if (fromDate && fromDate !== "") {
          toDateInput.min = fromDate;
        } else {
          // If the "from" date is cleared, reset the "To" date's min attribute.
          toDateInput.min = "";
        }
      }

      // to make sure user cannot select a backdate in toDate when the fromDate is today (on load)
      updateToDateMin(document.getElementById("from").value)

      function updateFromDateMax(toDate) {
        const fromDateInput = document.getElementById("from");
        if (toDate && toDate !== "") {
          fromDateInput.max = toDate;
        } else {
          // If the "to" date is cleared, reset the "From" date's max attribute.
          fromDateInput.max = "{{#dates.format(#dates.createNow(), 'yyyy-MM-dd')}}";
        }
      }

      function flipDateOrder(dateStr) {
        const parts = dateStr.split("-");
        if (parts.length === 3) {
          // Reorder the parts and join them back using "-"
          return parts[2] + "-" + parts[1] + "-" + parts[0];
        }
        return dateStr; // Return the original string if it doesn't match the expected format
      }

      // Function to filter the table rows based on the selected driver and date range
      function filterTableByCustomerAndDate(customerId, fromDate, toDate) {

        let ordersFound = false;

        const tableRows = document.querySelectorAll("tbody tr");

        for (let i = 0; i < tableRows.length; i++) {
          const dateCell = tableRows[i].querySelector("td:nth-child(7)").textContent;
          const customerCell = tableRows[i].querySelector("td:nth-child(9)").textContent;
          const customerNameCell = tableRows[i].querySelector("td:nth-child(5)").textContent.toLowerCase();

          // Flip the date format from "DD-MM-YYYY" to "YYYY-MM-DD"
          const orderDate = new Date(flipDateOrder(dateCell));

          // Filter by driver name and date range
          if (
                  (!customerId || customerCell.includes(customerId) || customerNameCell.toLowerCase().includes(customerId)) &&
                  (!fromDate || new Date(fromDate) <= orderDate) &&
                  (!toDate || new Date(toDate) >= orderDate)
          ) {

            ordersFound = true;
            tableRows[i].style.display = ""; // Show the row if it meets the filtering criteria
          } else {
            tableRows[i].style.display = "none"; // Hide the row if it does not meet the filtering criteria
          }
        }

        if (!ordersFound) {
          document.getElementById("no-orders").style.display = "block"
        } else {
          document.getElementById("no-orders").style.display = "none"
        }
      }

      // function to handle filtering by driver
      document.getElementById("customerInput").addEventListener("input", function() {
        let customerId = this.value.trim();
        let fromDate = document.getElementById("from").value;
        let toDate = document.getElementById("to").value;

        let totalOrders = 0;

        if (customerId !== "") {
          filterTableByCustomerAndDate(customerId, fromDate, toDate);
        } else {
          // Show all rows if the driver input is empty

          const dateCell = tableRows[i].querySelector("td:nth-child(7)").textContent;
          const orderDate = new Date(flipDateOrder(dateCell));

          if (
                  (!fromDate || new Date(fromDate) <= orderDate) &&
                  (!toDate || new Date(toDate) >= orderDate)
          ) {
            const tableRows = document.querySelectorAll("tbody tr");
            for (let i = 0; i < tableRows.length; i++) {
              tableRows[i].style.display = "";
              totalOrders += 1

            }
          }
          document.getElementById("no-orders").style.display = "none"
        }
      });

      document.getElementById("from").addEventListener("change", function() {
        let customerName = document.getElementById("customerInput").value.trim();
        let fromDate = this.value;
        let toDate = document.getElementById("to").value;

        filterTableByCustomerAndDate(customerName, fromDate, toDate);
      });

      document.getElementById("to").addEventListener("change", function() {
        let customerName = document.getElementById("customerInput").value.trim();
        let fromDate = document.getElementById("from").value;
        let toDate = this.value;

        filterTableByCustomerAndDate(customerName, fromDate, toDate);
      });

    </script>
  </div>
</html>
