<!--admin/dashboard.html-->
<html lang="en" layout:decorate="~{admin-layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<!--page content-->
<div layout:fragment="content">
  <div
    class="m-auto p-6 shadow-md rounded-md bg-white items-center justify-center">
    <div class="form-Home flex flex-col space-y-5">
      <h2 class="text-xl font-bold">Welcome to Admin Dashboard</h2>

      <div>
        <p>Logged in as: <span sec:authentication="name"></span></p>
        <p>Has role: <span sec:authentication="authorities"></span></p>
      </div>
    </div>
  </div>
</div>

</html>
