<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Drivers</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="driver : ${drivers}">
        <td th:text="${driver.email}"></td>
        <td th:text="${driver.firstName}"></td>
        <td th:text="${driver.lastName}"></td>
        <td><a th:href="@{/admin/dashboard/drivers/enable/{email}(email=${driver.email})}">Enable</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>