<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin-layout}"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <div layout:fragment="content">
    <div class="flex flex-col space-y-3">
      <div class="table-container">
        <h1>Pending Customers</h1>
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Email</th>
              <th>Name</th>
              <th>Enable User</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="driver : ${inactive_drivers}">
              <td th:text="${driver.id}"></td>
              <td th:text="${driver.email}"></td>
              <td th:text="${driver.firstName + ' ' + driver.lastName}"></td>
              <td>
                <a
                  th:href="@{/admin/dashboard/drivers/enable/{id}(id=${driver.id})}"
                  >Enable</a
                >
              </td>
            </tr>
            <tr class="no-records" th:if="${#lists.isEmpty(inactive_drivers)}">
              <td colspan="4"><p>No pending requests</p></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-container">
        <h1>Active Customers</h1>
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Email</th>
              <th>Name</th>
              <th>Disable Driver</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="driver : ${active_drivers}">
              <td th:text="${driver.id}"></td>
              <td th:text="${driver.email}"></td>
              <td th:text="${driver.firstName + ' ' + driver.lastName}"></td>
              <td>
                <a
                  th:href="@{/admin/dashboard/drivers/disable/{id}(id=${driver.id})}"
                  >Disable</a
                >
              </td>
            </tr>
            <tr class="no-records" th:if="${#lists.isEmpty(active_drivers)}">
              <td colspan="4"><p>No active drivers</p></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</html>
