<html
  lang="en"
  layout:decorate="~{admin-layout}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
>
  <!--page content-->
  <div layout:fragment="content">
    <div class="flex flex-col space-y-3">
      <div class="table-container">
        <h1>Pending for Verification</h1>
        <table>
          <thead>
            <tr>
              <th>User ID</th>
              <th>Email</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="drivers : ${pending_drivers}">
              <td th:text="${drivers.id}"></td>
              <td th:text="${drivers.email}"></td>
              <td th:text="${drivers.firstName + ' ' + drivers.lastName}"></td>
              <td>
                <a
                  th:href="@{/admin/dashboard/drivers/enable/{id}(id=${drivers.id})}"
                  >Verify</a
                >
              </td>
            </tr>
            <tr class="no-records" th:if="${#lists.isEmpty(pending_drivers)}">
              <td colspan="4"><p>No New Applications</p></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-container">
        <h1>Active Drivers</h1>
        <table>
          <thead>
            <tr>
              <th>User ID</th>
              <th>Email</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="driver : ${active_drivers}">
              <td th:text="${driver.id}"></td>
              <td th:text="${driver.email}"></td>
              <td th:text="${driver.firstName + ' ' + driver.lastName}"></td>
              <td>
                <a
                  class="bg-red-400/40 hover:bg-red-500/50"
                  th:href="@{/admin/dashboard/drivers/lock/{id}(id=${driver.id})}"
                  >Disable</a
                >
              </td>
            </tr>
            <tr class="no-records" th:if="${#lists.isEmpty(active_drivers)}">
              <td colspan="4"><p>No active drivers</p></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-container">
        <h1>Disabled Drivers</h1>
        <table>
          <thead>
            <tr>
              <th>User ID</th>
              <th>Email</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="driver : ${inactive_drivers}">
              <td th:text="${driver.id}"></td>
              <td th:text="${driver.email}"></td>
              <td th:text="${driver.firstName + ' ' + driver.lastName}"></td>
              <td>
                <a
                  th:href="@{/admin/dashboard/drivers/unlock/{id}(id=${driver.id})}"
                  >Enable</a
                >
              </td>
            </tr>
            <tr class="no-records" th:if="${#lists.isEmpty(inactive_drivers)}">
              <td colspan="4"><p>No inactive drivers</p></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</html>
