
<!--admin/orders.html-->
<html
  lang="en"
  layout:decorate="~{admin-layout}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
>
  <!--All orders will be displayed on this page-->
  <div layout:fragment="content">
    <div class="flex flex-col space-y-3">

      <div class="flex w-full space-x-4">
        <label class="space-y-2 w-full">
          <p class="px-3 text-cyan-700">Driver</p>
          <input class="text-input w-full" id="driverInput" type="text" list="driversList" required>
          <datalist id="driversList">
            <option value="">Select a Driver</option>
            <option th:each="driver : ${drivers}" th:value="${driver.driver.id}" th:text="${driver.firstName + ' ' + driver.lastName + ' (' + driver.driver.id + ')'}"
                    th:attr="data-url=@{/admin/dashboard/orders/{id}(id=${driver.id})}"></option>
          </datalist>
        </label>
        <label class="space-y-2 w-full">
          <p class="px-3 text-cyan-700">From</p>
          <input
              id="from"
              class="text-input driver-required"
              placeholder="date"
              type="date"
              th:attr="max=${{#dates.format(#dates.createNow(), 'yyyy-MM-dd')}}"
              onchange="updateToDateMin(this.value)"
              th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
          />
        </label>
        <label class="space-y-2 w-full">
          <p class="px-3 text-cyan-700">To</p>
          <input
              id="to"
              class="text-input driver-required"
              placeholder="date"
              type="date"
              th:attr="max=${{#dates.format(#dates.createNow(), 'yyyy-MM-dd')}}"
              onchange="updateFromDateMax(this.value)"
              th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
          />
        </label>
      </div>

      <div class="flex justify-between items-center">

        <div id="driver-name" class="px-4 font-semibold justify-center items-center"></div>

        <div class="flex space-x-3">

          <div class="flex pl-4 p-2 bg-white font-semibold border rounded-xl justify-center items-center space-x-3">
            <div>Total no. of customers</div>
            <div class="p-1 px-2 bg-slate-100 rounded-lg border font-bold" id="total-customers"></div>
          </div>

          <div class="flex pl-4 p-2 bg-white font-semibold border rounded-xl justify-center items-center space-x-3">
            <div>Total no. of orders</div>
            <div class="p-1 px-2 bg-slate-100 rounded-lg border font-bold" id="total-orders"></div>
          </div>

          <div class="flex pl-4 p-2 bg-white font-semibold border rounded-xl justify-center items-center space-x-3">
            <div>Total profit (MVR)</div>
            <div class="p-1 px-2 bg-slate-100 rounded-lg border font-bold" id="total-cost"></div>
          </div>
        </div>
      </div>

      <div class="table-container w-full">
        <table id="table">
          <thead>
          <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Pickup Address</th>
            <th>Destination Address</th>
            <th>Customer</th>
            <th>Driver</th>
            <th>Cost</th>
          </tr>
          </thead>
          <tbody>
            <tr class="border-b border-slate-200" th:each="order : ${orders}">
              <td class="w-1/12" th:text="${order.id}"></td>
              <td class="w-[130px]" th:text="${#temporals.format(order.time, 'dd-MM-yyyy') + ' ' + #temporals.format(order.time, 'HH:mm')}"></td>
              <td class="w-1/5" th:text="${order.pickupAddress}"></td>

              <td class="w-1/5" th:text="${order.destinationAddress}"></td>
              <td th:text="${order.customer.user.firstName + ' ' + order.customer.user.lastName}"></td>
              <td th:text="${order.driver.user.firstName + ' ' + order.driver.user.lastName}"></td>

              <td class="hidden" th:text="${#temporals.format(order.time, 'dd-MM-yyyy')}"></td>
              <td class="hidden" th:text="${order.driver.id}"></td>
              <td class="hidden" th:text="${order.customer.id}"></td>

              <td th:text="${order.totalCost}"></td>
            </tr>
          </tbody>
        </table>
        <div class="block pb-3 max-w-7xl" style="display: none" id="no-orders">
          <p class="w-full">No orders found for the driver</p>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="JavaScript">

      function onLoad() {
        let totalCost = 0;
        let totalOrders = 0;
        let totalNoOfCustomers = 0;
        let uniqueCustomers = {};

        const tableRows = document.querySelectorAll("tbody tr");
        for (let i = 0; i < tableRows.length; i++) {
          tableRows[i].style.display = "";
          totalCost += parseFloat(tableRows[i].querySelector("td:nth-child(10)").textContent)
          totalOrders += 1

          const customerID = tableRows[i].querySelector("td:nth-child(9)").textContent;
          if (!uniqueCustomers[customerID]) {
            uniqueCustomers[customerID] = true;
            totalNoOfCustomers += 1;
          }
        }

        document.getElementById("total-cost").innerText = totalCost;
        document.getElementById("total-orders").innerText = totalOrders;
        document.getElementById("total-customers").innerText = totalNoOfCustomers;

        document.getElementById("driver-name").innerText = "Orders of all drivers";

        if (totalOrders !== 0) document.getElementById("no-orders").style.display = "none"
        if (totalOrders === 0) document.getElementById("table").style.display = "none"
      }

      onLoad()

      function updateToDateMin(fromDate) {
        const toDateInput = document.getElementById("to");
        if (fromDate && fromDate !== "") {
          toDateInput.min = fromDate;
        } else {
          // If the "from" date is cleared, reset the "To" date's min attribute.
          toDateInput.min = "";
        }
      }

      // to make sure user cannot select a backdate in toDate when the fromDate is today (on load)
      updateToDateMin(document.getElementById("from").value)

      function updateFromDateMax(toDate) {
        const fromDateInput = document.getElementById("from");
        if (toDate && toDate !== "") {
          fromDateInput.max = toDate;
        } else {
          // If the "to" date is cleared, reset the "From" date's max attribute.
          fromDateInput.max = "{{#dates.format(#dates.createNow(), 'yyyy-MM-dd')}}";
        }
      }

      function flipDateOrder(dateStr) {
        const parts = dateStr.split("-");
        if (parts.length === 3) {
          // Reorder the parts and join them back using "-"
          return parts[2] + "-" + parts[1] + "-" + parts[0];
        }
        return dateStr; // Return the original string if it doesn't match the expected format
      }

      // Function to filter the table rows based on the selected driver and date range
      function filterTableByDriverAndDate(driverId, fromDate, toDate) {

        let totalCost = 0;
        let totalOrders = 0;
        let ordersFound = false;
        let totalNoOfCustomers = 0;
        let uniqueCustomers = {};

        const tableRows = document.querySelectorAll("tbody tr");

        for (let i = 0; i < tableRows.length; i++) {
          const dateCell = tableRows[i].querySelector("td:nth-child(7)").textContent;
          const driverCell = tableRows[i].querySelector("td:nth-child(8)").textContent;
          const driverNameCell = tableRows[i].querySelector("td:nth-child(6)").textContent.toLowerCase();

          // Flip the date format from "DD-MM-YYYY" to "YYYY-MM-DD"
          const orderDate = new Date(flipDateOrder(dateCell));

          // Filter by driver name and date range
          if (
                  (!driverId || driverCell.includes(driverId) || driverNameCell.toLowerCase().includes(driverId)) &&
                  (!fromDate || new Date(fromDate) <= orderDate) &&
                  (!toDate || new Date(toDate) >= orderDate)
          ) {

            ordersFound = true;

            const customerID = tableRows[i].querySelector("td:nth-child(9)").textContent;
            if (!uniqueCustomers[customerID]) {
              uniqueCustomers[customerID] = true;
              totalNoOfCustomers += 1;
            }

            document.getElementById("driver-name").innerText = "Orders of " + tableRows[i].querySelector("td:nth-child(6)").textContent;

            totalCost += parseFloat(tableRows[i].querySelector("td:nth-child(10)").textContent)
            totalOrders += 1

            tableRows[i].style.display = ""; // Show the row if it meets the filtering criteria
          } else {
            tableRows[i].style.display = "none"; // Hide the row if it does not meet the filtering criteria
          }
        }

        if (!ordersFound) {
          document.getElementById("driver-name").style.display = "none"
          document.getElementById("no-orders").style.display = "block"
        } else {
          document.getElementById("driver-name").style.display = "block"
          document.getElementById("no-orders").style.display = "none"
        }

        document.getElementById("total-cost").innerText = totalCost;
        document.getElementById("total-orders").innerText = totalOrders;
        document.getElementById("total-customers").innerText = totalNoOfCustomers;
      }

      // function to handle filtering by driver
      document.getElementById("driverInput").addEventListener("input", function() {
        let driverId = this.value.trim();
        let fromDate = document.getElementById("from").value;
        let toDate = document.getElementById("to").value;

        let totalCost = 0;
        let totalOrders = 0;
        let totalNoOfCustomers = 0;
        let uniqueCustomers = {};

        if (driverId !== "") {
          filterTableByDriverAndDate(driverId, fromDate, toDate);
        } else {
          // Show all rows if the driver input is empty
          const tableRows = document.querySelectorAll("tbody tr");
          for (let i = 0; i < tableRows.length; i++) {
            tableRows[i].style.display = "";
            totalCost += parseFloat(tableRows[i].querySelector("td:nth-child(10)").textContent)
            totalOrders += 1

            const customerID = tableRows[i].querySelector("td:nth-child(9)").textContent;
            if (!uniqueCustomers[customerID]) {
              uniqueCustomers[customerID] = true;
              totalNoOfCustomers += 1;
            }

          }
          document.getElementById("driver-name").style.display = "block"
          document.getElementById("driver-name").innerText = "Orders of all drivers";
          document.getElementById("total-cost").innerText = totalCost;
          document.getElementById("total-orders").innerText = totalOrders;
          document.getElementById("total-customers").innerText = totalNoOfCustomers;
          document.getElementById("no-orders").style.display = "none"
          document.getElementById("table").style.display = "block"
        }
      });

      document.getElementById("from").addEventListener("change", function() {
        let driverName = document.getElementById("driverInput").value.trim();
        let fromDate = this.value;
        let toDate = document.getElementById("to").value;

        filterTableByDriverAndDate(driverName, fromDate, toDate);
      });

      document.getElementById("to").addEventListener("change", function() {
        let driverName = document.getElementById("driverInput").value.trim();
        let fromDate = document.getElementById("from").value;
        let toDate = this.value;

        filterTableByDriverAndDate(driverName, fromDate, toDate);
      });

    </script>
  </div>
</html>
