<html
  lang="en"
  layout:decorate="~{admin-layout}"
  xmlns:layout="http://www.w3.org/1999/xhtml"
>
  <!--page content-->
  <div layout:fragment="content">
    <div class="flex flex-col space-y-3">
      <div class="table-container">
        <h1>Pending for Verification</h1>
        <table>
          <thead>
            <tr>
              <th>User ID</th>
              <th>Email</th>
              <th>Name</th>
              <th>User Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="user : ${pending_users}">
              <td th:text="${user.id}"></td>
              <td th:text="${user.email}"></td>
              <td th:text="${user.firstName + ' ' + user.lastName}"></td>
              <td th:text="${user.role.value}"></td>
              <td>
                <a
                  th:href="@{/admin/dashboard/users/enable/{id}(id=${user.id})}"
                  >Verify</a
                >
              </td>
              <td>
                <a
                  th:href="@{/admin/dashboard/users/update/{id}(id=${user.id})}"
                  >Update Info</a
                >
              </td>
            </tr>
            <tr class="no-records" th:if="${#lists.isEmpty(pending_users)}">
              <td colspan="5"><p>No New Applications</p></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-container">
        <h1>Active Users</h1>
        <table>
          <thead>
            <tr>
              <th>User ID</th>
              <th>Email</th>
              <th>Name</th>
              <th>User Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="user : ${active_users}">
              <td th:text="${user.id}"></td>
              <td th:text="${user.email}"></td>
              <td th:text="${user.firstName + ' ' + user.lastName}"></td>
              <td th:text="${user.role.value}"></td>
              <td>
                <a
                  class="bg-red-400/40 hover:bg-red-500/50"
                  th:href="@{/admin/dashboard/users/lock/{id}(id=${user.id})}"
                  >Deactivate</a
                >
              </td>
              <td>
                <a
                  th:href="@{/admin/dashboard/users/update/{id}(id=${user.id})}"
                  >Update Info</a
                >
              </td>
            </tr>
            <tr class="no-records" th:if="${#lists.isEmpty(active_users)}">
              <td colspan="5"><p>No active users</p></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-container">
        <h1>Inactive Users</h1>
        <table>
          <thead>
            <tr>
              <th>User ID</th>
              <th>Email</th>
              <th>Name</th>
              <th>User Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="user : ${inactive_users}">
              <td th:text="${user.id}"></td>
              <td th:text="${user.email}"></td>
              <td th:text="${user.firstName + ' ' + user.lastName}"></td>
              <td th:text="${user.role.value}"></td>
              <td>
                <a
                  th:href="@{/admin/dashboard/users/unlock/{id}(id=${user.id})}"
                  >Activate</a
                >
              </td>
              <td>
                <a
                  th:href="@{/admin/dashboard/users/update/{id}(id=${user.id})}"
                  >Update Info</a
                >
              </td>
            </tr>
            <tr class="no-records" th:if="${#lists.isEmpty(inactive_users)}">
              <td colspan="5"><p>No inactive users</p></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</html>
