<!--driver/orders.html-->
<html lang="en" layout:decorate="~{driver-layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<!--page content-->
<div layout:fragment="content" class="flex flex-col space-y-4">

  <div class="flex flex-col space-y-3">
    <div class="table-container">
      <h1>Completed Orders</h1>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>pickupAddress</th>
            <th>destinationAddress</th>
            <!-- <th>Status</th> -->
            <th>Order Details</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="order : ${completed_orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.pickupAddress}"></td>
            <td th:text="${order.destinationAddress}"></td>
            <!-- <td th:text="${order.getStatus}"></td> -->
            <td>
              <button class="my-button">
                <a
                  th:href="@{/driver/dashboard/orders/{id}(id=${order.id})}"
                  >View details</a
                >
              </button>
            </td>
          </tr>
          <tr class="no-records" th:if="${#lists.isEmpty(completed_orders)}">
            <td colspan="4">
              <p>No accepted requests</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex flex-col space-y-3">
      <div class="table-container">
        <h1>Accepted Orders</h1>
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>pickupAddress</th>
              <th>destinationAddress</th>
              <!-- <th>Status</th> -->
              <th>Order Details</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="order : ${accepted_orders}">
              <td th:text="${order.id}"></td>
              <td th:text="${order.pickupAddress}"></td>
              <td th:text="${order.destinationAddress}"></td>
              <!-- <td th:text="${order.getStatus}"></td> -->
              <td>
                <button class="my-button">
                  <a
                    th:href="@{/driver/dashboard/orders/{id}(id=${order.id})}"
                    >View details</a
                  >
                </button>
              </td>
              <td>
                <a th:href="@{/driver/orders/complete/{id}(id=${order.id})}">Complete</a>
                <a th:href="@{/driver/orders/cancel/{id}(id=${order.id})}">Cancel</a>
              </td>
            </tr>
            <tr class="no-records" th:if="${#lists.isEmpty(accepted_orders)}">
              <td colspan="4">
                <p>No accepted requests</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-container">
        <h1>Pending Orders</h1>
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>pickupAddress</th>
              <th>destinationAddress</th>
              <th>Actions</th>
              <!-- <th>Status</th> -->
            </tr>
          </thead>
          <tbody>
            <tr th:each="order : ${pending_orders}">
              <td th:text="${order.id}"></td>
              <td th:text="${order.pickupAddress}"></td>
              <td th:text="${order.destinationAddress}"></td>
              <td>
                <a th:href="@{/driver/orders/accept/{id}(id=${order.id})}">Accept</a>
                <a th:href="@{/driver/orders/reject/{id}(id=${order.id})}">Reject</a>
              </td>
              <!-- <td th:text="${order.getStatus}"></td> -->
            </tr>
            <tr class="no-records" th:if="${#lists.isEmpty(pending_orders)}">
              <td colspan="4">
                <p>No accepted requests</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</html>