<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Caber: Page not found</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<body>

<div class="flex h-screen items-center justify-center">
    <div class="flex items-center justify-center">
        <h1 class="bg-blue-200/50 rounded-xl px-7 py-4 text-slate-700 text-2xl">
            Page not found | 404
        </h1>
    </div>
</div>

</body>

</html>