<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Caber: [[${title}]]</title>
  <link th:href="@{/main.css}" rel="stylesheet"/>
</head>

<body>

  <!--Navbar-->
  <nav>
    <div class="nav-container">
      <h1 class="logo">Caber</h1>
      <div class="links" id="links">
        <!--/*@thymesVar id="title" type="String"*/-->
        <a th:href="@{/customer/dashboard}" th:class="${title == 'dashboard' ? 'active' : ''}">Dashboard</a>
        <a th:href="@{/customer/book}" th:class="${title == 'book' ? 'active' : ''}">Book</a>
      </div>
      <a th:href="@{/logout}" class="btn-logout">Log out</a>
    </div>
  </nav>

  <!--page content-->
  <main>
    <div layout:fragment="content"></div>
  </main>

</body>
</html>
